<div id="2fea14ff-d8e3-42c1-a230-3917b7a640c9">
    @Default.cshtml
    <script src="/Scripts/jquery_pocket.js" type="text/javascript"></script>
    <script>
        jQuery_pocket.noConflict();
    </script>
    <script src="/Scripts/_post.js" type="text/javascript"></script>
    <script src="/Scripts/_admin.js" type="text/javascript"></script>
</div>