@using MvcApplication20.Models;

@{
    Category TargetCategory = Model as MvcApplication20.Models.Category;
    List<Category> Parents = TargetCategory.Parents;
    Category Root = (Parents.Count > 0) ? Parents.Last() : TargetCategory;
}

<h3 class="subtitle">Каталог</h3>
<div class="box-category">
    <ul id="cat_accordion" style="display:block;">
        @CatalogHtmlHelpers.LineOut(Root, TargetCategory)
    </ul>
</div>

